<header>
  <mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav mode="push">
      <mat-nav-list>
        <a routerLink="/" mat-list-item>TOP</a>
        <a routerLink="/create" mat-list-item>新しい目標をつくる</a>
        <a routerLink="/index" mat-list-item>目標一覧</a>
        <a mat-list-item>設定</a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="sidenav__app-logo">
          <a routerLink="/">
            <img
              src="../../assets/images/nasitoge-link.png"
              alt="Nasitogeロゴリンク"
            />
          </a>
        </span>
        <span class="“spacer”"></span>
        <div class="logout-area">
          <button mat-raised-button color="warn" (click)="logout()">
            ログアウト
          </button>
        </div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
