<div class="top-wrap">
  <img src="../../../assets/images/nasitoge-logo.png" alt="" />
  <h1>
    <p class="main-text">Nasitogeは1ヶ月程の目標を</p>
    <p class="main-text">継続/達成できるようにするサービスです。</p>
  </h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia natus
    nihil debitis deserunt beatae repellat omnis nostrum quibusdam eaque, labore
    quisquam voluptate eos consequatur odio assumenda, illo adipisci accusamus
    obcaecati.
  </p>

  <button (click)="login()" mat-raised-button color="warn">ログイン</button>
</div>
